
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    box-sizing: border-box;
    font-size: 16px;
}
html, body {
    height: 100%;
    text-align: center;
}
.flex-item:nth-of-type(1) { order: 2; }
.flex-item:nth-of-type(2) { order: 1; }
body {
    background:black;
    font-family: "Roboto", sans-serif;
}
.logo {
	margin: 0;
  font-size: 1.45em;
  
}
.logo a{
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
  display: block;
  color: red;
  font-weight: bold;
}
.header {
  position: fixed;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
}
#navtext{
  font-size:4vw;
}
.card{
    border: 4px solid red;
    border-radius: 10px;
    padding: 24px;
}
/* .qcont{
  display: inline-block;
}
.qcont:first-letter {
  text-transform: capitalize
} */
.card-content{
    border: 4px solid grey;
    border-radius: 10px;
    border-style: dashed;
    position: relative;
    padding-top: 100% !important;
    width: 100%;
    margin: auto;
    height: auto;
}
.copy{
  cursor: pointer;
  margin-left: 51%;
}
.link-url{
    width: fit-content;
    margin: auto;
}
.url{
    border-radius: 10px !important;
}
.urlform{
    margin: auto;
    width: 90%;
}
.upload{
    max-width: 100%;
    max-height: 100%;
    display: grid;
}
.row,.col{
    padding: 0px !important;
}
.main-form{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  margin-top: 10px;
}

.box_success,
.box_error {
  display: none;
}
.res{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0 !important;
  right: 0 !important;
  display: grid;
  margin-top: 20px;
}
.box_uploading{
  width: 86%;
  height: 86%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: absolute;
  background-repeat: round;
  border: solid 2px black;
  justify-self: center;
}
.box_uploading::after{
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
/* label color */
.input-field label {
    color: white !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: white !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ffffff !important;
  }
  .buttons{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .captions{
      width: 86%;
      position: absolute;
      bottom: 5px;
      background-color: #292c34;
      color: white;
      border-radius: 10px;
      justify-self: center;
  }
  @media only screen and (min-width: 1000px) {
    #navtext{
      font-size: 3vw;
    }
  }
  @media only screen and (max-width: 600px) {
    .main-form{
      position: unset !important;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      margin-top: 10px;
    } 
    #navtext{
      font-size:5vw;
    }
    .copy{
      cursor: pointer;
      margin-left: 5%;
      font-size: 3.7vw !important;
    }
    .card-content{
      padding-top: 10% !important;
      border: 4px solid grey;
      border-radius: 10px;
      border-style: dashed;
      position: relative;
      width: 100%;
      margin: auto;
      height: -webkit-fill-available;
      min-height: 305px;
    }
    .box_uploading{
      width: 81%;
      height: 86%;
      margin: auto !important;
      border-radius: 10px;
      overflow: hidden;
      background-color: #cccccc;
      background-size: cover;
      background-repeat: round;
      border: solid 2px black;
      position: relative;
      height: 49vw;
    }
    .box_uploading::after{
      content: attr(data-label);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.75);
      font-size: 14px;
      text-align: center;
    }
    /* .card{
      min-height: 114vw;
    } */
    .buttons{
      margin-left: 0 !important;
      margin-top: 6vw !important;
      position: unset;
    }
    .res{
      margin-top: 14px;
    }
    .captions{
      font-size: 2.7vw;
      position: unset;
      margin-top: 6vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2vw;
    }
  }

@media (min-width: 769px) {
	.header{
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}